PORT=3010
VERIFY_TOKEN=doi_token_xac_minh_webhook
PAGE_ACCESS_TOKEN=EAAB_page_access_token_cua_fanpage
AGENCY_NAME=UBND phuong/xã
AGENCY_ADDRESS=Dia chi co quan tiep nhan
AGENCY_PHONE=0123456789
PUBLIC_SERVICE_PORTAL_URL=https://dichvucong.gov.vn
